<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知了课堂</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <!-- 引入图标 -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1223995_80xp5izxk6.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/index.min.js"></script>
</head>
<body>
   <!-- 头部 -->
    <header class="header">
        <!-- 版型：头部子容器 -->
        <div class="contain">
            <!-- logo -->
            <div class="logo-box"><a href="http://localhost:3000/templates/news/index.html"></a></div>
            <!-- 导航条 -->
            <ul class="nav">
                <li class="active"><a href="">咨询</a></li>
                <li><a href="">创业课堂</a></li>
                <li><a href="">企业服务</a></li>
                <li><a href="">搜索</a></li>
            </ul>
            <!-- 登录注册，按钮 -->
            <div class="auth-box">
                <!-- i: 小图标，可以看成文字-->
                <i class="icon-02 iconfont"></i>
                <a href="">登录</a>
                <a href="">注册</a>
            </div>
        </div>
    </header>
   <!-- 首页内容顶级容器 -->
    <div class="main">
        <!-- 版型：居中 -->
        <div class="wrapper">
            <!-- 左栏内容 -->
            <div class="news-wrapper">
                <!-- 轮播图 -->
                <div class="banner-group" id="banner-group"><!-- 窗口（每节火车都要经过窗口） -->
                    <!-- 装每节火车的总容器 -->
                    <ul id="banner-ul" class="banner-ul">
                       <li>
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1523588994_243.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1523504442_455.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1521444982_469.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1522742329_629.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1522742329_629.png" alt="">
                            </a>
                        </li>

                    </ul>
                    <!-- 轮播箭头 -->
                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>
                    <!-- 轮播图圆点 -->
                    <div class="page-control-group"><!-- 圆点盒子 -->
                        <ul class="page-control"><!-- 圆点的版型（居中） -->
                        </ul>
                    </div>
                </div>
                <!-- 新闻 -->
                <div class="list-outer-group">
                    <!-- 新闻标签 -->
                    <ul class="list-tab">
                        <li class="active"><a href="">最新资讯</a></li>
                        <li><a href="">热点</a></li>
                        <li><a href="">深度</a></li>
                        <li><a href="">干货分享</a></li>
                        <li><a href="">投资人说</a></li>
                    </ul>
                    <!-- 新闻详情列表 -->
                    <ul class="list-inner-group">
                        <!-- li：左边（图片）和右边（新闻内容） -->
                        <li>
                            <!-- 左边（图片） -->
                            <div class="thumbnail-group">
                                <a href="">
                                    <img src="https://static-image.xfz.cn/1560730788_369.jpg-website.news.list" alt="">
                                </a>
                            </div>
                            <!-- 右边（新闻内容） -->
                            <div class="new-group">
                                <!-- 标题 -->
                                <p class="title">
                                    <a href="">早报：“树根互联”完成5亿元B轮融资;屠呦呦团队将发布科研新突破;华为为5G采购最大赢家</a>
                                </p>
                                <!-- 描述 -->
                                <p class="desc">每日优鲜徐正：启动“智鲜计划”，欲三年内成长为千亿平台</p>
                                <!-- 更多 -->
                                <p class="more">
                                    <!-- 类别（左浮动） -->
                                    <span class="category">树根互联</span>
                                    <!-- 发布时间（右浮动） -->
                                    <span class="pub-time">13小时前</span>
                                     <!-- 作者 -->
                                    <span class="author">田敏伦</span>
                                </p>
                            </div>
                        </li>

                        <li>
                            <!-- 左边（图片） -->
                            <div class="thumbnail-group">
                                <a href="">
                                    <img src="https://static-image.xfz.cn/1560730788_369.jpg-website.news.list" alt="">
                                </a>
                            </div>
                            <!-- 右边（新闻内容） -->
                            <div class="new-group">
                                <!-- 标题 -->
                                <p class="title">
                                    <a href="">早报：“树根互联”完成5亿元B轮融资;屠呦呦团队将发布科研新突破;华为为5G采购最大赢家</a>
                                </p>
                                <!-- 描述 -->
                                <p class="desc">每日优鲜徐正：启动“智鲜计划”，欲三年内成长为千亿平台</p>
                                <!-- 更多 -->
                                <p class="more">
                                    <!-- 类别（左浮动） -->
                                    <span class="category">树根互联</span>
                                    <!-- 发布时间（右浮动） -->
                                    <span class="pub-time">13小时前</span>
                                     <!-- 作者 -->
                                    <span class="author">田敏伦</span>
                                </p>
                            </div>
                        </li>
                    </ul>

                    <!-- 加载更多 -->
                    <div class="load-more-group">
                        <button class="load-more">查看更多</button>
                    </div>
                </div>
            </div>
            <!-- 右栏内容（广告位） -->
            <div class="sidebar-wrapper">
                <!-- 广告位标题 -->
                <div class="title-group">
                    <span class="title">在线课堂</span>
                    <a href="" class="more">更多</a>
                </div>
                <!-- 广告图片 -->
                <div class="advertise-group">
                    <a href="">
                        <img src="https://static-fancube.xfz.cn/1558511894652/%E8%9A%82%E4%B8%8A%E5%88%9B%E4%B8%9A%E8%90%A5%20%E4%B8%BB%E8%A7%86%E8%A7%89.png-website.active.list" alt="">
                    </a>
                </div>
                <!-- 第三方广告 -->
                <div class="paltform-group">
                    <!-- 第三方标题 -->
                     <div class="title-group">
                        <span class="title">在线课堂</span>
                    </div>
                    div.
                </div>
            </div>
        </div>
    </div>
</body>
</html>