<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知了课堂</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <!-- 引入图标 -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1223995_80xp5izxk6.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/index.min.js"></script>
</head>
<body>
   <!-- 头部 -->
    <header class="header">
        <!-- 版型：头部子容器 -->
        <div class="contain">
            <!-- logo -->
            <div class="logo-box"><a href="http://localhost:3000/templates/news/index.html"></a></div>
            <!-- 导航条 -->
            <ul class="nav">
                <li class="active"><a href="">咨询</a></li>
                <li><a href="">创业课堂</a></li>
                <li><a href="">企业服务</a></li>
                <li><a href="">搜索</a></li>
            </ul>
            <!-- 登录注册，按钮 -->
            <div class="auth-box">
                <!-- i: 小图标，可以看成文字-->
                <i class="icon-02 iconfont"></i>
                <a href="">登录</a>
                <a href="">注册</a>
            </div>
        </div>
    </header>
   <!-- 首页内容顶级容器 -->
    <div class="main">
        <!-- 版型：居中 -->
        <div class="wrapper">
            <!-- 左栏内容 -->
            <div class="news-wrapper">
                <!-- 轮播图 -->
                <div class="banner-group" id="banner-group"><!-- 窗口（每节火车都要经过窗口） -->
                    <!-- 装每节火车的总容器 -->
                    <ul id="banner-ul" class="banner-ul">
                       <li>
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1523588994_243.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1523504442_455.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1521444982_469.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1522742329_629.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1522742329_629.png" alt="">
                            </a>
                        </li>

                    </ul>
                    <!-- 轮播箭头 -->
                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>
                    <!-- 轮播图圆点 -->
                    <div class="page-control-group"><!-- 圆点盒子 -->
                        <ul class="page-control"><!-- 圆点的版型（居中） -->
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 右栏内容 -->
            <div class="sidebar-wrapper"></div>
        </div>
    </div>
</body>
</html>