<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知了课堂</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <!-- 引入图标 -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1223995_80xp5izxk6.css">
</head>
<body>
   <!-- 头部 -->
    <header class="header">
        <!-- 头部子容器（存放模板） -->
        <div class="contain">
            <!-- logo -->
            <div class="logo-box"><a href="http://localhost:3000/templates/news/index.html"></a></div>
            <!-- 导航条 -->
            <ul class="nav">
                <li class="active"><a href="">咨询</a></li>
                <li><a href="">创业课堂</a></li>
                <li><a href="">企业服务</a></li>
                <li><a href="">搜索</a></li>
            </ul>
            <!-- 登录注册，按钮 -->
            <div class="auth-box">
                <!-- i: 小图标，可以看成文字-->
                <i class="icon-02 iconfont"></i>
                <a href="">登录</a>
                <a href="">注册</a>
            </div>
        </div>
    </header>
</body>
</html>