<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知了课堂</title>
    <link rel="stylesheet" href="../../dist/css/search/search.min.css">
    <!-- 引入图标 -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1223995_80xp5izxk6.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/index.min.js"></script>
</head>
<body>
   <!-- 头部 -->
    <header class="header">
        <!-- 版型：头部子容器 -->
        <div class="contain">
            <!-- logo -->
            <div class="logo-box"><a href="http://localhost:3000/templates/news/index.html"></a></div>
            <!-- 导航条 -->
            <ul class="nav">
                <li class="active"><a href="">咨询</a></li>
                <li><a href="">创业课堂</a></li>
                <li><a href="">付费咨询</a></li>
                <li><a href="">搜索</a></li>
            </ul>
            <!-- 登录注册，按钮 -->
            <div class="auth-box">
                <!-- i: 小图标，可以看成文字-->
                <i class="icon-02 iconfont"></i>
                <a href="">登录</a>
                <a href="">注册</a>
            </div>
        </div>
    </header>

   <!-- 首页内容顶级容器 -->
    <div class="main">
        <!-- 版型：居中 -->
        <div class="wrapper">
            <!-- 左栏内容 -->
            <div class="main-content-wrapper">

                <!-- 搜索框 -->
                <div class="search-area">
                    <input class="search-ptn" type="text" placeholder="可输入新闻关键词、作者名字搜索">
                    <div class="search-btn">搜索</div>
                </div>

                <!-- 新闻 -->
                <div class="list-outer-group">

                    <!-- 新闻标签 -->
                    <div class="list-tab">
                        <span>热门推荐</span>
                    </div>

                    <!-- 新闻详情列表 -->
                    <ul class="list-inner-group">
                        <!-- li：左边（图片）和右边（新闻内容） -->
                        <li>
                            <!-- 左边（图片） -->
                            <div class="thumbnail-group">
                                <a href="">
                                    <img src="https://static-image.xfz.cn/1560730788_369.jpg-website.news.list" alt="">
                                </a>
                            </div>
                            <!-- 右边（新闻内容） -->
                            <div class="new-group">
                                <!-- 标题 -->
                                <p class="title">
                                    <a href="">早报：“树根互联”完成5亿元B轮融资;屠呦呦团队将发布科研新突破;华为为5G采购最大赢家</a>
                                </p>
                                <!-- 描述 -->
                                <p class="desc">每日优鲜徐正：启动“智鲜计划”，欲三年内成长为千亿平台</p>
                                <!-- 更多 -->
                                <p class="more">
                                    <!-- 类别（左浮动） -->
                                    <span class="category">树根互联</span>
                                    <!-- 发布时间（右浮动） -->
                                    <span class="pub-time">13小时前</span>
                                     <!-- 作者 -->
                                    <span class="author">田敏伦</span>
                                </p>
                            </div>
                        </li>

                        <li>
                            <!-- 左边（图片） -->
                            <div class="thumbnail-group">
                                <a href="">
                                    <img src="https://static-image.xfz.cn/1560730788_369.jpg-website.news.list" alt="">
                                </a>
                            </div>
                            <!-- 右边（新闻内容） -->
                            <div class="new-group">
                                <!-- 标题 -->
                                <p class="title">
                                    <a href="">早报：“树根互联”完成5亿元B轮融资;屠呦呦团队将发布科研新突破;华为为5G采购最大赢家</a>
                                </p>
                                <!-- 描述 -->
                                <p class="desc">每日优鲜徐正：启动“智鲜计划”，欲三年内成长为千亿平台</p>
                                <!-- 更多 -->
                                <p class="more">
                                    <!-- 类别（左浮动） -->
                                    <span class="category">树根互联</span>
                                    <!-- 发布时间（右浮动） -->
                                    <span class="pub-time">13小时前</span>
                                     <!-- 作者 -->
                                    <span class="author">田敏伦</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- 右栏内容（广告位） -->
            <div class="sidebar-wrapper">
                <!-- 广告位标题 -->
                <div class="title-group">
                    <span class="title">在线课堂</span>
                    <a href="" class="more">更多</a>
                </div>
                <!-- 广告图片 -->
                <div class="advertise-group">
                    <a href="">
                        <img src="https://static-fancube.xfz.cn/1558511894652/%E8%9A%82%E4%B8%8A%E5%88%9B%E4%B8%9A%E8%90%A5%20%E4%B8%BB%E8%A7%86%E8%A7%89.png-website.active.list" alt="">
                    </a>
                </div>
                <!-- 广告第三方 -->
                <div class="paltform-group">
                    <!-- 第三方标题 -->
                     <div class="title-group">
                        <span class="title">在线课堂</span>
                    </div>
                    <!-- 第三方内容 -->
                    <div class="focus-group">
                        <!-- 左侧内容 -->
                        <ul class="left-group">
                            <li class="zhihu"><!-- li使用背景图片，加速响应速度 -->
                                <a href="">小饭桌创业课堂</a>
                            </li>
                            <li class="weibo">
                                <a href="">小饭桌创业课堂</a>
                            </li>
                            <li class="toutiao">
                                <a href="">小饭桌</a>
                            </li>
                        </ul>
                        <!-- 右侧内容 -->
                        <div class="right-group">
                            <p class="desc">
                                扫描关注小饭桌
                                公众号
                            </p>
                        </div>
                    </div>
                </div>
                <!-- 热门推荐（标题、新闻（左侧和右则）） -->
                <div class="hot-news-group">
                    <!-- 标题 -->
                    <div class="title-group">
                        <span class="title">热门推荐</span>
                    </div>
                    <!-- 热门新闻列表（列表使用ul） -->
                    <ul class="hot-list-group">
                        <!-- 每一篇新闻 -->
                        <li>
                            <!-- 左侧 -->
                            <div class="left-group">
                                <p class="title">
                                    <a href="">科学队长与优客工场达成战略合作，探索新教育，新场景，共建科学社区</a>
                                </p>
                                <p class="more">
                                    <span class="category">Django</span>
                                    <span class="pub-time">1小时前</span>
                                </p>
                            </div>
                            <!-- 右侧 -->
                            <div class="right-group">
                                <a href="">
                                    <img src="https://static-image.xfz.cn/1560946135_379.png-website.news.list" alt="">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   <!-- 底部 -->
    <footer class="footer">
        <!-- 上 -->
        <div class="top-group">
            <!-- 上盒子居中 -->
            <div class="top-inner-group">
                <!-- 左侧 -->
                <div class="logo-box"></div>
                <!--右侧 -->
                <div class="detail-group">
                    <!-- 第一行 -->
                    <div class="line1">
                        <ul class="left-links">
                            <li><a href="">关于大饭桌</a></li>
                            <li><a href="">创业课题</a></li>
                            <li><a href="">寻求报道</a></li>
                            <li><a href="">创业礼包</a></li>
                        </ul>
                        <div class="right-about-us">
                            <span class="title">关于我们：</span>
                            <!-- 二维码 -->
                            <ul class="social-group">
                                <li class="weixin">
                                    <a href="#" class="text">关注微信</a>
                                    <!-- 二维码 -->
                                    <div class="wxQr"></div>
                                </li>
                                <li class="weibo">
                                    <a href="#" class="text">关注微博</a>
                                    <div class="wbQr"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--第二行  -->
                    <div class="line2">
                        <!-- 地址 -->
                        <div class="left-address">地址：北京市朝阳区东三环北路38号院泰康金融大厦</div>
                        <!-- 联系方式 -->
                        <div class="right-contact"> 联系方式：bd@xfz.cn</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 下 -->
        <div class="bottom-group">©2019 北京子木投资顾问有限公司 京ICP备15051289号 | 增值电信业务经营许可证：京B2-20170574</div>
    </footer>

</body>
</html>