@import "../common/init.scss";
@import "../common/constant.scss";

.main {
  margin-top: 64px; // 课堂首页导航条无外边距

  // 课程首页导航栏
  .course-nav {
    $courseNavHeight: 54px;
    width: 100%;
    height: $courseNavHeight;
    background: #fff;
    // 阴影效果 box-shadow：水平长度（横：像录音条），模糊长度（竖），rgba：透明
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1%);

    // 版型
    .nav-container {
      width: $pageWidth;
      margin: 0 auto;
      height: $courseNavHeight;
      line-height: $courseNavHeight; // 子孙节点都垂直居中

      // logo
      h3.title {
        float: left; // 父盒子如果有高度，则不用overflow: hidden;
        font-size: 24px;
        color: #696969;
      }

      // 导航条
      .nav-list {
        float: left;
        margin-left: 100px;

        li {
          float: left;
          margin-right: 40px;

          // 设置字体颜色在a标签
          a {
            color: #888;
          }

          // 选中状态，&--父标签其添加属性
          &.active {
            // 字体在a标签中，不能再li修改字体
            a {
              color: $mainFontColor;
            }
          }

        }
      }

    }
  }
}